<html>
  <head>
    <script data-require="angular.js@1.6.6" data-semver="1.6.6" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js"></script>
  <script src ="./javascript/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel ="stylesheet" href="./stylesheet/style.css">
  </head>
   <body ng-app="myApp">

   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Night Life App</a>
       <a class="navbar-brand" href="#!/">Home</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right" >
         <li ng-hide="authenticated"><a href="#!register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li ng-hide="authenticated"><a href="#!login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <li ng-show="authenticated" ng-click ="logout()"><a class="x"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
       </ul>
     </div>
   </div>
 </div>
 </nav>
 <form ng-submit ="search()" ng-controller="mainController">
     <input type="text" ng-model="city" >
     <button type="submit" class="btn">search</button>
   </form>
 <div ng-view>

</div>

 </div>
 </body>
</html>
