<h2 class="text-center">Login Form</h2>


  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

<h2 ng-show="msg" class="a btn btn-danger important text-center">
     {{msg}}
</h2>
<form ng-submit="login()">
  <br>
  <div class="container" id="login">



    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" ng-model="signuser.email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password"  ng-model="signuser.password" required>

    <button type="submit">Login</button>


  </div>
</form>
